/* GENERAL */
.App {
  font-family: sans-serif;
  text-align: center;
}

/* BODY */
.heading {
.heading {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
}

.fimage {
  height: 100px;
  width: 100px;
}
